@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600');
/* ***********************
Designed by : http://wrapbootstrap.com/user/ashobiz
*********************** */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* Color variables */
/* Dark colors */
/* Text Colors */
.white {
  color: #ffffff;
}
.grey {
  color: #eeeeee;
}
.black {
  color: #333333;
}
.red {
  color: #f75353;
}
.green {
  color: #51d466;
}
.lblue {
  color: #32c8de;
}
.blue {
  color: #609cec;
}
.orange {
  color: #f78153;
}
.yellow {
  color: #fcd419;
}
.violet {
  color: #cb79e6;
}
.rose {
  color: #ff61e7;
}
.brown {
  color: #d08166;
}
/* Background Colors */
.bg-white {
  background-color: #ffffff;
}
.bg-grey {
  background-color: #eeeeee;
}
.bg-black {
  background-color: #333333;
}
.bg-red {
  background-color: #f75353;
}
.bg-green {
  background-color: #51d466;
}
.bg-lblue {
  background-color: #32c8de;
}
.bg-blue {
  background-color: #609cec;
}
.bg-orange {
  background-color: #f78153;
}
.bg-yellow {
  background-color: #fcd419;
}
.bg-violet {
  background-color: #cb79e6;
}
.bg-rose {
  background-color: #ff61e7;
}
.bg-brown {
  background-color: #d08166;
}
/* Button Colors */
.btn.btn-white {
  background: #ffffff;
  color: #333333;
  border: 1px solid #e6e6e6;
}
.btn.btn-white:hover,
.btn.btn-white:active,
.btn.btn-white:focus {
  background: #e6e6e6;
  color: #333333;
}
.btn.btn-black {
  background: #333333;
  color: #ffffff;
  border: 1px solid #1a1a1a;
}
.btn.btn-black:hover,
.btn.btn-black:active,
.btn.btn-black:focus {
  background: #1a1a1a;
  color: #ffffff;
}
.btn.btn-red {
  background: #f75353;
  color: #ffffff;
  border: 1px solid #f20b0b;
}
.btn.btn-red:hover,
.btn.btn-red:active,
.btn.btn-red:focus {
  background: #f20b0b;
  color: #ffffff;
}
.btn.btn-green {
  background: #51d466;
  color: #ffffff;
  border: 1px solid #2bae40;
}
.btn.btn-green:hover,
.btn.btn-green:active,
.btn.btn-green:focus {
  background: #2bae40;
  color: #ffffff;
}
.btn.btn-lblue {
  background: #32c8de;
  color: #ffffff;
  border: 1px solid #1b96a8;
}
.btn.btn-lblue:hover,
.btn.btn-lblue:active,
.btn.btn-lblue:focus {
  background: #1b96a8;
  color: #ffffff;
}
.btn.btn-blue {
  background: #609cec;
  color: #ffffff;
  border: 1px solid #1c71e4;
}
.btn.btn-blue:hover,
.btn.btn-blue:active,
.btn.btn-blue:focus {
  background: #1c71e4;
  color: #ffffff;
}
.btn.btn-orange {
  background: #f78153;
  color: #ffffff;
  border: 1px solid #f24c0b;
}
.btn.btn-orange:hover,
.btn.btn-orange:active,
.btn.btn-orange:focus {
  background: #f24c0b;
  color: #ffffff;
}
.btn.btn-yellow {
  background: #fcd419;
  color: #ffffff;
  border: 1px solid #c6a303;
}
.btn.btn-yellow:hover,
.btn.btn-yellow:active,
.btn.btn-yellow:focus {
  background: #c6a303;
  color: #ffffff;
}
.btn.btn-violet {
  background: #cb79e6;
  color: #ffffff;
  border: 1px solid #b239da;
}
.btn.btn-violet:hover,
.btn.btn-violet:active,
.btn.btn-violet:focus {
  background: #b239da;
  color: #ffffff;
}
.btn.btn-rose {
  background: #ff61e7;
  color: #ffffff;
  border: 1px solid #ff15db;
}
.btn.btn-rose:hover,
.btn.btn-rose:active,
.btn.btn-rose:focus {
  background: #ff15db;
  color: #ffffff;
}
.btn.btn-brown {
  background: #d08166;
  color: #ffffff;
  border: 1px solid #b35637;
}
.btn.btn-brown:hover,
.btn.btn-brown:active,
.btn.btn-brown:focus {
  background: #b35637;
  color: #ffffff;
}
/* Labels */
.label.label-white {
  background: #e6e6e6;
  color: #333333;
}
.label.label-black {
  background: #333333;
  color: #ffffff;
}
.label.label-red {
  background: #f75353;
  color: #ffffff;
}
.label.label-green {
  background: #51d466;
  color: #ffffff;
}
.label.label-lblue {
  background: #32c8de;
  color: #ffffff;
}
.label.label-blue {
  background: #609cec;
  color: #ffffff;
}
.label.label-red {
  background: #f75353;
  color: #ffffff;
}
.label.label-orange {
  background: #f78153;
  color: #ffffff;
}
.label.label-yellow {
  background: #fcd419;
  color: #ffffff;
}
.label.label-violet {
  background: #cb79e6;
  color: #ffffff;
}
.label.label-rose {
  background: #ff61e7;
  color: #ffffff;
}
.label.label-brown {
  background: #d08166;
  color: #ffffff;
}
/* Social Media */
.facebook {
  background: #609cec;
}
.facebook:hover {
  background: #1c71e4;
}
.twitter {
  background: #32c8de;
}
.twitter:hover {
  background: #1b96a8;
}
.google-plus {
  background: #f75353;
}
.google-plus:hover {
  background: #f20b0b;
}
.linkedin {
  background: #8eb8f1;
}
.linkedin:hover {
  background: #609cec;
}
.pinterest {
  background: #f52222;
}
.pinterest:hover {
  background: #a90808;
}
.instagram {
  background: #dca18d;
}
.instagram:hover {
  background: #d08166;
}
/* General CSS */
body {
  color: #333333;
  font-size: 13px;
  line-height: 28px;
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  padding-top: 70px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
  color: #333333;
}
/* Navbar */
.navbar {
  background: #333333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 40px;
}
@media (max-width: 500px) {
  .navbar {
    padding: 10px;
  }
}
.navbar .navbar-brand {
  font-size: 23px;
  line-height: 23px;
  padding-top: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}
.navbar .navbar-brand i {
  margin-right: 5px;
}
@media (max-width: 500px) {
  .navbar .navbar-brand {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    padding-top: 17px;
  }
}
.navbar .navbar-nav a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.navbar .navbar-nav a:hover,
.navbar .navbar-nav a:focus {
  background: transparent;
}
.navbar .navbar-toggle {
  background: #000000;
  border: 0px solid #ddd;
}
.navbar .navbar-toggle .icon-bar {
  background: #fff;
}
/* Carousel */
.carousel .carousel-caption {
  bottom: auto;
  left: 0;
  right: 0;
  top: 45%;
  font-size: 40px;
  background: rgba(0, 0, 0, 0.4);
  display: inline-block;
  padding: 30px 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}
@media (max-width: 800px) {
  .carousel .carousel-caption {
    top: 45%;
    font-size: 25px;
    font-weight: 400;
    padding: 15px 10px;
  }
}
@media (max-width: 400px) {
  .carousel .carousel-caption {
    top: 35%;
  }
}
.carousel .carousel-indicators li {
  border: 2px solid #fff;
}
.carousel .carousel-control span {
  position: absolute;
  top: 50%;
  font-size: 30px;
}
@media (max-width: 400px) {
  .carousel .carousel-control span {
    top: 45%;
  }
}
/* Content */
.content {
  padding: 20px 40px;
}
@media (max-width: 500px) {
  .content {
    padding: 20px;
  }
}
.content .page-head {
  float: left;
  max-width: 300px;
}
.content .page-head h2 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-top: 150px;
  font-weight: 300;
  font-size: 60px;
  line-height: 75px;
}
@media (max-width: 900px) {
  .content .page-head {
    max-width: 200px;
  }
  .content .page-head h2 {
    margin-top: 100px;
    font-size: 30px;
    line-height: 45px;
    font-weight: 400;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
  }
}
@media (max-width: 650px) {
  .content .page-head {
    float: none;
    max-width: 100%;
  }
  .content .page-head h2 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-top: 0px;
  }
}
.content .main {
  margin-left: 300px;
}
.content .main h3 {
  font-size: 22px;
  line-height: 37px;
  font-weight: 400;
}
.content .main.about p {
  font-size: 15px;
  line-height: 35px;
  margin: 20px 0px;
}
.content .main.about p:first-letter {
  float: left;
  font-size: 55px;
  line-height: 55px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: Georgia,serif;
}
.content .main.about p img {
  width: 130px;
  margin: 10px;
}
@media (max-width: 900px) {
  .content .main {
    margin-left: 200px;
  }
}
@media (max-width: 650px) {
  .content .main {
    margin-left: 0px;
  }
}
/* Collections */
.collections h3 {
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
}
.collections .tab-content .container-fluid {
  padding: 0px;
}
.collections .tab-content .c-item {
  margin: 15px auto;
  max-width: 300px;
  position: relative;
}
.collections .tab-content .c-item .c-caption {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  bottom: 0px;
  color: #fff;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  text-transform: uppercase;
}
.collections .side {
  margin-top: 10px;
  text-align: right;
  text-transform: uppercase;
}
.collections .side h4 {
  font-size: 15px;
  line-height: 15px;
  font-weight: 600;
  display: inline-block;
  background: #f75353;
  color: #fff;
  padding: 8px;
}
.collections .side ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.collections .side ul a {
  font-size: 30px;
  line-height: 55px;
  font-weight: 300;
}
.collections .side ul a span {
  color: #f75353;
}
/* Contact */
/* Contact form */
.cform {
  margin: 20px 0px;
  margin-bottom: 30px;
}
.cform .form-group {
  margin: 20px 0px;
}
.cform input,
.cform textarea {
  border: 0px;
  box-shadow: none !important;
  border-bottom: 1px solid #ddd;
  padding: 20px 15px;
  font-size: 14px;
  border-radius: 0px;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.cform input:hover,
.cform textarea:hover,
.cform input:focus,
.cform textarea:focus {
  background: #fcfcfc;
  border-bottom: 1px solid #aaa;
}
.cform button {
  font-size: 14px;
  border: 0px;
  text-transform: uppercase;
  border-radius: 0px;
  padding: 8px 18px;
}
/* Contact details */
.cdetails {
  font-size: 14px;
  line-height: 28px;
  color: #888;
}
.cdetails p {
  font-size: 14px;
  line-height: 34px;
}
.cdetails p i {
  display: inline-block;
  width: 30px;
  color: #444;
  text-align: center;
}
.cdetails .social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 2px;
  font-size: 17px;
  margin-top: 10px;
  color: #fff;
}
/* Footer */
footer {
  border-top: 1px solid #444;
  padding: 20px 20px;
  font-size: 14px;
  line-height: 28px;
  background: #333333;
  color: #fff;
}
footer a {
  color: #fff;
  text-decoration: underline;
}
footer a:hover {
  color: #fff;
  text-decoration: none;
}
